* {
  margin:0;
  padding:0;
}

.App {
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height:100%;
  width:100vw;
}

.Body {
  width: 65rem;
  height: 65rem;
  background-color: #5d446b;

  display: flex;
  flex-direction: column;
}

.Header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:1rem;

  width:100%;
  height:8rem;
  background-color:#493554;
}

.TitleGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  gap: 0;
  height: 100%;

  width: 18rem;
  color: white;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 1rem;
  margin: 0;
}


.Logo {
  width:8rem;
  height:8rem; 
}

.MainText {
  padding: 2rem;
  font-size: 1.3rem;
  color: #d4bedf; 

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projectBox {
  background-color: white;
  height: 2rem;
  width: 50%;
  color:black;
  padding: 1rem;
}